{% extends "reunions/base.html" %}
{% block title %}{{ titre }}{% endblock %}
{% block page_title %}{{ titre }}{% endblock %}
{% block content %}
<form method="post" class="panel">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-3">{{ form.rubrique.label_tag }}{{ form.rubrique }}</div>
        <div class="col-md-3">{{ form.service.label_tag }}{{ form.service }}</div>
        <div class="col-md-3">{{ form.urgence.label_tag }}{{ form.urgence }}</div>
        <div class="col-md-3">{{ form.statut.label_tag }}{{ form.statut }}</div>
        <div class="col-12">{{ form.sujet.label_tag }}{{ form.sujet }}</div>
        <div class="col-md-6">{{ form.decision.label_tag }}{{ form.decision }}</div>
        <div class="col-md-6">{{ form.action.label_tag }}{{ form.action }}</div>
        <div class="col-md-6">{{ form.responsable.label_tag }}{{ form.responsable }}</div>
        <div class="col-md-6">{{ form.delai.label_tag }}{{ form.delai }}</div>
    </div>
    {{ form.non_field_errors }}
    <div class="mt-3 d-flex gap-2">
        <button class="btn btn-decc" type="submit">Enregistrer</button>
        <a class="btn btn-outline-secondary" href="{% url 'reunion_detail' reunion.pk %}">Annuler</a>
    </div>
</form>
{% endblock %}
