{% extends "reunions/base.html" %}
{% block title %}{{ titre }}{% endblock %}
{% block page_title %}{{ titre }}{% endblock %}
{% block content %}
<form method="post" class="panel">
    {% csrf_token %}
    {{ formset.management_form }}
    <h2>Informations générales</h2>
    <div class="row g-3">
        <div class="col-md-3">{{ form.date.label_tag }}{{ form.date }} {{ form.date.errors }}</div>
        <div class="col-md-2">{{ form.heure_debut.label_tag }}{{ form.heure_debut }}</div>
        <div class="col-md-2">{{ form.heure_fin.label_tag }}{{ form.heure_fin }}</div>
        <div class="col-md-2">{{ form.lieu.label_tag }}{{ form.lieu }}</div>
        <div class="col-md-3 js-lieu-autre">{{ form.lieu_precision.label_tag }}{{ form.lieu_precision }}</div>
        <div class="col-md-3">{{ form.type.label_tag }}{{ form.type }}</div>
        <div class="col-md-5 js-type-autre">{{ form.type_autre_precision.label_tag }}{{ form.type_autre_precision }}</div>
        <div class="col-md-4">{{ form.president.label_tag }}{{ form.president }}</div>
        <div class="col-md-4">{{ form.rapporteur.label_tag }}{{ form.rapporteur }}</div>
        <div class="col-md-4">{{ form.nombre_participants.label_tag }}{{ form.nombre_participants }}</div>
        <div class="col-md-4">{{ form.participants_presents.label_tag }}{{ form.participants_presents }}</div>
        <div class="col-md-4">{{ form.participants_excuses.label_tag }}{{ form.participants_excuses }}</div>
        <div class="col-md-4">{{ form.participants_absents.label_tag }}{{ form.participants_absents }}</div>
        <div class="col-md-3">{{ form.prochaine_reunion.label_tag }}{{ form.prochaine_reunion }}</div>
        <div class="col-md-9">{{ form.objet_prochaine.label_tag }}{{ form.objet_prochaine }}</div>
        <div class="col-12">{{ form.observations.label_tag }}{{ form.observations }}</div>
    </div>
    <h2 class="mt-4">Points de réunion</h2>
    {% for f in formset %}
        <fieldset class="point-block">
            {% if f.id %}{{ f.id }}{% endif %}
            <legend>Point {% if f.instance.pk %}n° {{ f.instance.numero }}{% else %}nouveau{% endif %}</legend>
            <div class="row g-2">
                <div class="col-md-2">{{ f.rubrique.label_tag }}{{ f.rubrique }}</div>
                <div class="col-md-2">{{ f.volet.label_tag }}{{ f.volet }}</div>
                <div class="col-md-3 js-volet-wrap">{{ f.volet_autre_precision.label_tag }}{{ f.volet_autre_precision }}</div>
                <div class="col-md-2">{{ f.urgence.label_tag }}{{ f.urgence }}</div>
                <div class="col-md-2">{{ f.statut.label_tag }}{{ f.statut }}</div>
                <div class="col-md-3">{{ f.delai.label_tag }}{{ f.delai }}</div>
                <div class="col-md-3">{{ f.responsable.label_tag }}{{ f.responsable }}</div>
                <div class="col-12">{{ f.sujet.label_tag }}{{ f.sujet }}</div>
                <div class="col-md-6">{{ f.decision.label_tag }}{{ f.decision }}</div>
                <div class="col-md-6">{{ f.action.label_tag }}{{ f.action }}</div>
                {% if formset.can_delete %}
                <div class="col-12"><label>{{ f.DELETE }} Supprimer ce point</label></div>
                {% endif %}
            </div>
        </fieldset>
    {% endfor %}
    <div class="mt-4 d-flex gap-2 flex-wrap">
        <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
        <a href="{% if reunion %}{% url 'reunion_detail' reunion.pk %}{% else %}{% url 'reunion_list' %}{% endif %}" class="btn btn-secondary btn-lg">Annuler</a>
    </div>
</form>
{% endblock %}
